<!DOCTYPE html>
<html>
<head>
  <title>Kwan Deag</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link href='//fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header id="main_navigation" class="clearfix">
		<%= link_to "Kwan Deag", root_path, class: 'name' %>
		<nav>
			<%= link_to "Articles", posts_path %>
			<a href="#">Projects</a>
			<a href="contact.html">Contact</a>
		</nav>
	</header>

	<%= yield %>

	<footer id="main_footer">
		<p class="copyright">&copy; 2016 Quan Minh Pham</p>
		<nav>
			<a href="https://www.facebook.com/quan162195" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
			<a href="https://github.com/dreamtheater2195" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
			<a href="https://steamcommunity.com/id/dreamtheater162195" target="_blank"><i class="fa fa-steam" aria-hidden="true"></i></a>
		</nav>
	</footer>
</body>
</html>
